BORGBASE_REPO= # e.g. ssh://user@xxx.repo.borgbase.com/./repo
BORG_PASSPHRASE=changeme # Store this securely - loss means backups are irrecoverable
SSH_KEY_PATH=/root/.ssh/borgbase_ed25519 # Path to the private key on the host

# These values are populated automatically from the other stacks by generate-passwords.sh
NEXTCLOUD_APP_VOLUME=
NEXTCLOUD_DATA_VOLUME=
NEXTCLOUD_DB=
NEXTCLOUD_DB_USER=
NEXTCLOUD_DB_PASSWORD=
GITEA_DATA_VOLUME=
GITEA_DB=
GITEA_DB_USER=
GITEA_DB_PASSWORD=
VAULTWARDEN_DATA_VOLUME=

DOCKER_VOLUME_DIR=/var/lib/borgmatic
BORGMATIC_STATE_VOLUME=${DOCKER_VOLUME_DIR}/state
BORG_CACHE_VOLUME=${DOCKER_VOLUME_DIR}/cache
