BORGBASE_REPO= # e.g. ssh://user@xxx.repo.borgbase.com/./repo
BORG_PASSPHRASE=changeme # Store this securely — loss means backups are irrecoverable
SSH_KEY_PATH=/root/.ssh/borgbase_ed25519 # Path to the private key on the host

# Copy these values from nextcloud/.env — do NOT run generate-passwords.sh on this file
NEXTCLOUD_APP_VOLUME=
NEXTCLOUD_DATA_VOLUME=
NEXTCLOUD_DB=
NEXTCLOUD_DB_USER=
NEXTCLOUD_DB_PASSWORD=

# Copy these values from gitea/.env
GITEA_DATA_VOLUME=

# Copy this value from vaultwarden/.env
VAULTWARDEN_DATA_VOLUME=
GITEA_DB=
GITEA_DB_USER=
GITEA_DB_PASSWORD=

DOCKER_VOLUME_DIR=/var/lib/borgmatic
BORGMATIC_STATE_VOLUME=${DOCKER_VOLUME_DIR}/state
BORG_CACHE_VOLUME=${DOCKER_VOLUME_DIR}/cache
