VAULTWARDEN_DOMAIN=https://vault.yourdomain.com
VAULTWARDEN_ADMIN_TOKEN=changeme # Disable after initial setup by setting to empty: VAULTWARDEN_ADMIN_TOKEN=

DOCKER_VOLUME_DIR=/var/lib/vaultwarden
VAULTWARDEN_DATA_VOLUME=${DOCKER_VOLUME_DIR}/data
