POSTGRES_DB=gitea
POSTGRES_USER=gitea
# DB password: generated in gitea/secrets/postgres_password by generate-passwords.sh

DOCKER_VOLUME_DIR=/var/lib/gitea
GITEA_DATA_VOLUME=${DOCKER_VOLUME_DIR}/data
GITEA_DB_VOLUME=${DOCKER_VOLUME_DIR}/db
