services:
  nextcloud_app:
    image: nextcloud:${NEXTCLOUD_VERSION:-latest} #check before migrating to ensure both instances are the same version
    container_name: nextcloud_app
    restart: unless-stopped
    depends_on:
      - nextcloud_postgres
      - nextcloud_redis
    ports:
      - ${NEXTCLOUD_LAN_PORT:-8888}:80 #so the instance can be accessed without the use of cloudflare tunnel in the LAN
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - NEXTCLOUD_DATA_DIR=${NEXTCLOUD_DATA_DIR}
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NEXTCLOUD_LAN_IP=${NEXTCLOUD_LAN_IP}
      - NEXTCLOUD_LAN_PORT=${NEXTCLOUD_LAN_PORT}
      - DEFAULT_PHONE_REGION=${DEFAULT_PHONE_REGION}
      - MAINTENANCE_WINDOW_START=${MAINTENANCE_WINDOW_START}
      - TZ=${TIMEZONE}
    volumes:
      - ${NEXTCLOUD_APP_VOLUME}:/var/www/html
      - ${NEXTCLOUD_DATA_VOLUME}:${NEXTCLOUD_DATA_DIR} #https://docs.nextcloud.com/server/latest/admin_manual/installation/harden_server.html#place-data-directory-outside-of-the-web-root
      - ${NEXTCLOUD_HOOKS_VOLUME}/pre-installation:/docker-entrypoint-hooks.d/pre-installation:ro
      - ${NEXTCLOUD_HOOKS_VOLUME}/post-installation:/docker-entrypoint-hooks.d/post-installation:ro
    networks:
      - nextcloud
      - proxy

  nextcloud_postgres: #AIO uses postgres, so this instance should too
    image: postgres:17-alpine
    container_name: nextcloud_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ${NEXTCLOUD_DB_VOLUME}:/var/lib/postgresql/data
    networks:
      - nextcloud

  nextcloud_redis:
    image: redis
    container_name: nextcloud_redis
    restart: unless-stopped
    networks:
      - nextcloud

  nextcloud_notify_push:
    image: nextcloud:${NEXTCLOUD_VERSION:-latest}
    container_name: nextcloud_notify_push
    entrypoint: /var/www/html/custom_apps/notify_push/bin/x86_64/notify_push /var/www/html/config/config.php
    restart: unless-stopped
    profiles:
      - notify_push
    depends_on:
      - nextcloud_app
    environment:
      - PORT=7867
      - NEXTCLOUD_URL=http://nextcloud_app
    volumes:
      - ${NEXTCLOUD_APP_VOLUME}/custom_apps:/var/www/html/custom_apps:ro
      - ${NEXTCLOUD_APP_VOLUME}/config:/var/www/html/config:ro
    networks:
      - proxy
      - nextcloud

  nextcloud_harp:
    image: ghcr.io/nextcloud/nextcloud-appapi-harp:release
    container_name: nextcloud_harp
    hostname: appapi-harp
    restart: unless-stopped
    depends_on:
      - nextcloud_app
    environment:
      - HP_SHARED_KEY=${HP_SHARED_KEY}
      - NC_INSTANCE_URL=http://nextcloud_app
      - HP_TRUSTED_PROXY_IPS=${HP_TRUSTED_PROXY_IPS}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HARP_CERTS_VOLUME}:/certs
    ports:
      - 8780:8780
      - 8782:8782
    networks:
      - proxy
      - exapps

networks:
  nextcloud:
    name: nextcloud_network
    driver: bridge
  proxy:
    name: proxy_network
    external: true
  exapps:
    name: exapps_network
    driver: bridge
